body{
    margin: 0;
    padding: 0;
    background-color: black;
    scroll-behavior: smooth;
}
.cntainer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #05003e5b;
    backdrop-filter: blur(10px);
}
.head-left{
    display: flex;
    align-items: center;
}
.head-left img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.head-left button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    background-color: #edff66;
}
.head-left a{
    text-decoration: none;
    color: black;
}
.head-left a:hover{
    color: whitesmoke;
    transition: 0.4s;
}
.head-left button:hover{
    background-color: transparent;
    color: whitesmoke;
    box-shadow: 0 0 15px #edff66;
    transition: 0.4s;
}
.head-left button:hover a{
    color: whitesmoke;
    transition: 0.4s;
}
.head-right{
    display: flex;
}
.head-right p:hover{
    transform: scale(1.4,1.4);
    transition: 0.4s;
}
.head-right a{
    text-decoration: none;
    padding-left: 30px;
    padding-right: 10px;
    color: white;
    font-size: 15px;
}
.head-right a:hover{
    color: #edff66;
    transition: 0.3s;
}
.hero-section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hero-vid{
    width: 100%;
    height: 100%;
    position: relative;
}
.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-info{
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 50px;
}
.hero-info h1{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}
.hero-info button{
    background-color: #edff66;
    border: 2px solid #edff66;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.hero-info button:hover{
    background-color: transparent;
    color: whitesmoke;
    box-shadow: 0 0 15px #edff66;
    transition: 0.4s;
}
.gaming-text{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: white;
}
